body{
  margin: 0;
}
.App{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
}
.product-container{
  background-color: #f6f5ff;
  border: 1px solid #d3ceff;
  padding: 5px 40px;
  border-radius: 3px;
  margin-right: 15px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.categories-container{
  background-color: rgb(6, 172, 0);
  border: 1px solid rgb(4, 126, 0);
  padding: 5px 40px;
  border-radius: 3px;
  font-family: montserrat, sans-serif;
  font-weight: 700;
  font-style: normal;
}